<main class="programmingShow">

  <%= link_to "< Back", programming_projects_path%>

  <h3><%= @project.title %></h3>
  <p><%= @project.description %></p>

  <% if @project.rich_description %>
    <div class="rich-description">
      <%= @project.rich_description %>
    </div>
  <% end %>


  <p class="smallText"><%= @project.technologies_used %></p>

  <%= cl_image_tag @project.cover_photo.key %>

  <% if @project.live_url && @project.active%>
    <a href="<%= @project.live_url%>" target="_blank">
      <div class="liveUrl">
          <p>Visit Live Site</p>

        <div class="openIcon">
            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.83007 0.457528V3.11625L12.3612 3.12568L0.88726 14.5997L2.77288 16.4853L14.2469 5.0113L14.2563 15.5425H16.915V0.457528H1.83007Z" fill="#3C3D3E"/>
            </svg>
        </div>
      </div>
     </a>
  <% else %>
    <div class="liveUrl inactive">
        <p>The live site is currently inactive</p>
        <div class="openIcon">
            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.83007 0.457528V3.11625L12.3612 3.12568L0.88726 14.5997L2.77288 16.4853L14.2469 5.0113L14.2563 15.5425H16.915V0.457528H1.83007Z" fill="#3C3D3E"/>
            </svg>
        </div>
    </div>
  <% end %>

  <% if @project.vimeo_id != "" %>
    <div>
      <h3>Demo Video:</h3>
      <div class="videoWrapper">
        <iframe src="https://player.vimeo.com/video/<%= @project.vimeo_id %>?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow='fullscreen; picture-in-picture; clipboard-write'></iframe>
        <script src="https://player.vimeo.com/api/player.js"></script>
      </div>
    </div>
  <% end %>

  <% if @project.tiktok_id != "" %>
    <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@byemalin/video/<%= @project.tiktok_id %>" data-video-id="<%= @project.tiktok_id %>" style="height: 580px; max-width: 605px;min-width: 325px;" >
      <section>
        <a target="_blank" title="@byemalin" href="https://www.tiktok.com/@byemalin?refer=embed">@byemalin</a>
      </section>
    </blockquote>
    <script async src="https://www.tiktok.com/embed.js"></script>
  <% end %>




  <% if @project.photos.length > 0 %>
  <p>Additional Photos:</p>
    <%@project.photos.each do |photo|%>
      <%= cl_image_tag photo.key %>
    <% end %>
  <% end %>


  <% if current_user&.is_admin? %>
    <%= link_to 'Edit', edit_programming_project_path(@project) %>
  <% end %>


</main>
