<main class="animationShow mainSection90Width">

  <%= link_to "< Back", animation_projects_path%>

  <h3><%= @project.title %></h3>
  <p><%= @project.description %></p>







  <div class="videosContainer">
    <% @project.videos.each do |video| %>
      <% url = "https://player.cloudinary.com/embed/?cloud_name=dxvi2kqnz&resource_type=video&public_id=byemalin_portfolio/#{video.key}"%>

      <iframe
        src="<%= url %>"
        frameborder="0"
        allow="fullscreen">
      </iframe>
    <% end %>
  </div>

  <% if @project.rich_description %>
    <div class="rich-description">
      <%= @project.rich_description %>
    </div>
  <% end %>

  <% if current_user&.is_admin? %>
    <%= link_to 'Edit', edit_animation_project_path(@project) %>
  <% end %>


  <% if @project.photos.length > 0 %>
    <p>Additional Photos:</p>

    <div class="additionalPhotos">
      <%@project.photos.each do |photo|%>
      <div class="gridImageContainer">
        <%= cl_image_tag photo.key %>
      </div>
      <% end %>
    </div>

  <% end %>

  <% if false %>
  <#% if @project.tiktok_id %>
    <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@byemalin/video/<%= @project.tiktok_id %>" data-video-id="<%= @project.tiktok_id %>" style="height: 580px; max-width: 605px;min-width: 325px;" >
      <section>
        <a target="_blank" title="@byemalin" href="https://www.tiktok.com/@byemalin?refer=embed">@byemalin</a>
      </section>
    </blockquote>
    <script async src="https://www.tiktok.com/embed.js"></script>
  <% end %>


</main>
