<!DOCTYPE html>
<html>
  <head>
    <title>byemalin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>


     <% if action_name != "landing" %>
      <%= javascript_importmap_tags %>
    <% end %>



  </head>

  <body>

    <%= render "shared/flashes" %>

    <% if action_name != "about" %>
      <%= render "shared/navbar" %>
    <% end %>

    <%= render "shared/popup" unless action_name == "home"%>

    <%= yield %>

    <%= render "shared/footer" %>

  </body>
</html>
